@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Legacy Metering Group</h1>
    <p class="lead">Legacy Metering Group (LMG) Limited was established in 2015 to fulfil the needs of electricity retailers, network companies and consumers where the management and installation of ‘legacy meters’ was a requirement.</p>
    <p><a href="http://legacymetering.nz" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   <div class="col-md-4">
        <h2>Our Services</h2>
        <ul>
            <li>Regular Consumption reads</li>
            <li>Special (adhoc) meter reads</li>
            <li>Portal delivery service</li>
        </ul>
        <p><a class="btn btn-default" href="http://legacymetering.nz/services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who we Are</h2>
        <p>
            LMG was recently established to service a neglected market segment and
            meet the growing need for a specialist approach to legacy meters.
            Importantly for its customers, LMG is a privately owned business,
            completely independent from existing electricity metering, retail
            or distribution companies.
        </p>
        <p><a class="btn btn-default" href="http://legacymetering.nz/our-philosophy/">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Philosophy</h2>
        <ul>
            <li>LMG has a partner approach to service. Therefore LMG will do everything it can to meet the needs of its customers in a collaborative manner.</li>
            <li>LMG is a solutions provider to perceived problems in legacy meter management.</li>
            <li>Working with LMG is easy. Its simple light-touch systems and processes being the key.</li>
            <li>Our customers have direct access to our management team.</li>
        </ul>
        <p><a class="btn btn-default" href="http://legacymetering.nz/about/">Learn more &raquo;</a></p>
    </div>
</div>